header{
	padding: 10px 5px 9px 10px;
    color: white;
    background-color: #06c4d3;
    clear: left;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #FFF;
  font-family: "Source Sans Pro", Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: -0.6px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

input[type="radio"] + label span {
  background-color: #FFF;
}

input[type="radio"]:checked + label span {
  background-color: #4d79ff;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}